name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # chckout
      - name: Checkout repository
        uses: actions/checkout@v4

      # jdk set up
      - name: JDK 21 set-up
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'corretto'

      # grant gradle script
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build