name: Build

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # chckout
      - name: Checkout repository
        uses: actions/checkout@v6

      # jdk set up
      - name: JDK 25 set-up
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'corretto'

      # grant gradle script
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build